<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue中的条件渲染</title>
    <script src="../assets/js/vue.js"></script>
</head>
<body>
    <div id="app">
        <!-- <div v-if="show === 'a'">This is a</div>
        <div v-else-if="show === 'b'">This is b</div>
        <div v-else>This is others</div> -->
        <!-- <div v-show="show" data-test="v-show">{{message}}</div> -->
        <div v-if="show">
            用户名：<input key="username"/>
        </div>
        <div v-else>
            邮箱名：<input key="emailname"/>
        </div>
    </div>

    <script>
        var vm = new Vue({
            el: "#app",
            data: {
                // show: "a",
                show: false,
                message: "Hello World"
            }
        })
    </script>
</body>
</html>